input[type="radio"]:not(#bgOther):not(#mainFontOther):not(#exBgOther):not(#exclusionFontOther),
#bgOtherText, #mainFontOtherText, #exBgOtherText, #exclusionFontOtherText {
  display: none; }

.form-color {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form-color .radioContainer {
    margin: 0 10px 10px 0; }
  .form-color label {
    width: 25px;
    height: 25px; }

input[type="range"].form-control {
  padding: 0; }

.radioContainer {
  display: inline-block; }
  .radioContainer.otherContainer label[for="bgOther"], .radioContainer.otherContainer label[for="mainFontOther"], .radioContainer.otherContainer label[for="exBgOther"], .radioContainer.otherContainer label[for="exclusionFontOther"] {
    border: none; }
  .radioContainer.otherContainer input[type="radio"]:checked ~ label {
    border: none; }
  .radioContainer input[type="radio"] ~ label {
    border: 1px solid #e7e7e7; }
  .radioContainer input[type="radio"]:checked ~ label {
    border: 2px solid #000; }
  .radioContainer .pink {
    background-color: #AB2270; }
  .radioContainer .darkBrown {
    background-color: #5c5345; }
  .radioContainer .tan {
    background-color: #dac3b7; }
  .radioContainer .maroon {
    background-color: #702e3e; }
  .radioContainer .darkTan {
    background-color: #c9a892; }
  .radioContainer .lightGray {
    background-color: #b1a7a2; }
  .radioContainer .darkBlue {
    background-color: #13284c; }
  .radioContainer .darkGray {
    background-color: #4c4c4c; }
  .radioContainer .bannerGray {
    background-color: #d7cec7; }
  .radioContainer .white {
    background-color: #fff; }
  .radioContainer .black {
    background-color: #333; }

.glyphicon-info-sign {
  color: #5bc0de;
  font-size: 10px;
  position: relative;
  top: -5px;
  left: -2px;
  padding: 2px;
  cursor: pointer; }
  .glyphicon-info-sign:hover {
    color: #31b0d5; }

.input-group-addon[aria-expanded="true"] {
  background-color: #ddd; }

.input-group-addon:hover {
  cursor: pointer; }

#bannerTextToolbar label, #bannerTextToolbar .fakeLabel, #exclusionTextToolbar label, #exclusionTextToolbar .fakeLabel {
  font-size: 10px; }

.previewContainer {
  display: none;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 2em; }
  .previewContainer .previewTitle {
    padding-left: 15px; }

#previewSwBanner {
  margin: 0 auto;
  position: relative; }

.bannerWidth {
  max-width: 1300px; }

.previewContainer {
  min-height: 200px; }

#mainLineContainer {
  display: -ms-flexbox;
  display: flex; }

#previewBannerText, #previewExclusionsText {
  max-width: 1300px;
  text-align: center;
  margin: 0 auto; }

#previewBannerText {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 5em; }

#previewExclusionsText {
  padding: 5px 0;
  margin-top: -1px;
  display: none; }

#previewExclusionToggle {
  position: absolute;
  right: 15px;
  -ms-flex-item-align: center;
  align-self: center; }

body {
  background-color: #fff; }

img {
  max-width: 100%; }

.panel-body.welcome img {
  margin-bottom: 1em; }

.typeContainer {
  text-transform: capitalize;
  margin-bottom: 1em; }

.fakeLabel {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

.loader {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  position: relative; }

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  border: 2px solid #777;
  animation: spin 1.5s infinite linear;
  margin: 0 auto .5em; }

.spinner:after {
  content: '';
  width: 53px;
  height: 44px;
  position: absolute;
  bottom: -3%;
  left: -30%;
  box-shadow: inset 33px 0px 12px -7px #fff; }

@keyframes spin {
  0 {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

/*# sourceMappingURL=app.css.map */
