input[type="radio"]:not(#bgOther):not(#mainFontOther):not(#exBgOther):not(#exclusionFontOther), 
#bgOtherText, #mainFontOtherText, #exBgOtherText, #exclusionFontOtherText {
	display:none;
}
.form-color {
	display:flex;
	flex-wrap:wrap;
	.radioContainer {
		margin:0 10px 10px 0;
	}
	label {
		width:25px;
		height:25px;
	}
}
input[type="range"].form-control {
	padding:0;
}
.radioContainer {
	display:inline-block;
	&.otherContainer {
		label[for="bgOther"], label[for="mainFontOther"], label[for="exBgOther"], label[for="exclusionFontOther"] {
			border:none;
		}
		input[type="radio"]:checked ~ label {
			border:none;
		}
	}
	input[type="radio"] {
		& ~ label {
			border:1px solid #e7e7e7;
		}
		&:checked ~ label {
			border:2px solid #000;
		}
	}
	.pink {
		background-color:#AB2270;
	}
	.darkBrown {
		background-color:#5c5345;
	}
	.tan {
		background-color:#dac3b7;
	}
	.maroon {
		background-color:#702e3e;
	}
	.darkTan {
		background-color:#c9a892;
	}
	.lightGray {
		background-color:#b1a7a2;
	}
	.darkBlue {
		background-color:#13284c;
	}
	.darkGray {
		background-color:#4c4c4c;
	}
	.bannerGray {
		background-color:#d7cec7;
	}
	.white {
		background-color:#fff;
	}
	.black {
		background-color:#333;
	}
}
.glyphicon-info-sign {
	color:#5bc0de;
	font-size: 10px;
    position: relative;
    top: -5px;
    left:-2px;
    padding:2px;
    cursor:pointer;
	&:hover {
		color:#31b0d5;
	}
}
.input-group-addon {
	&[aria-expanded="true"] {
		background-color:#ddd;
	}
	&:hover {
		cursor:pointer;
	}
}
#bannerTextToolbar, #exclusionTextToolbar {
	label, .fakeLabel {
		font-size:10px;
	}
}
.previewContainer {
	display:none;
	background-color:#fff;
	border-top:1px solid #e7e7e7;
	margin-bottom:2em;
	.previewTitle {
		padding-left:15px;
	}
}
#previewSwBanner {
	margin:0 auto;
	position:relative;
}
.bannerWidth {
	max-width:1300px;
}
.previewContainer {
	min-height:200px;
}
#mainLineContainer {
	display:flex;
}
#previewBannerText, #previewExclusionsText {
	max-width:1300px;
	text-align:center;
	margin:0 auto;
}
#previewBannerText {
	text-transform:uppercase;
	margin:0 auto;
	padding:0 5em;
}
#previewExclusionsText {
	padding:5px 0;
	margin-top:-1px;
	display:none;
}
#previewExclusionToggle {
	position:absolute;
	right:15px;
	align-self:center;
}