input[type="radio"]:not(#bgOther):not(#mainFontOther), #bgOtherText, #mainFontOtherText {
	display:none;
}
.background, .fontColor {
	width:25px;
	height:25px;
	margin-right:15px;
}
.radioContainer {
	display:inline-block;
	&.otherContainer {
		position:relative;
		top:-12px;
		label[for="bgOther"], label[for="mainFontOther"] {
			border:none;
		}
		input[type="radio"]:checked ~ label {
			border:none;
		}
	}
	input[type="radio"] {
		& ~ label {
			border:1px solid #e7e7e7;
		}
		&:checked ~ label {
			border:2px solid #000;
		}
	}
	.pink {
		background-color:#AB2270;
	}
	.darkBrown {
		background-color:#5c5345;
	}
	.tan {
		background-color:#dac3b7;
	}
	.maroon {
		background-color:#702e3e;
	}
	.darkTan {
		background-color:#c9a892;
	}
	.lightGray {
		background-color:#b1a7a2;
	}
	.darkBlue {
		background-color:#13284c;
	}
	.darkGray {
		background-color:#4c4c4c;
	}
	.bannerGray {
		background-color:#d7cec7;
	}
	.white {
		background-color:#fff;
	}
	.black {
		background-color:#333;
	}
}
.previewContainer {
	display:none;
	background-color:#fff;
	border-top:1px solid #e7e7e7;
	margin-bottom:2em;
	.previewTitle {
		padding-left:15px;
	}
}


.bannerWidth {
	position:relative;
	width:1300px;
}
#previewBannerText, #previewExclusionText {
	max-width:1300px;
	margin:0 auto;
	text-align:center;
}
#previewExclusionText {
	display:none;
}
#previewExclusionToggle {
	position:absolute;
	right:15px;
	top:0;
}